.home {
  .presentation {
    overflow: hidden;
    .swiper-wrapper {
      .swiper-slide {
        position: relative;
        img {
          width: 100%;
          height: auto;
        }
        .bannerMobile {
          display: none;
        }
        .content {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          h2 {
            color: #fff;
            font-size: 6.4rem;
            font-weight: var(--weight700);
            text-transform: uppercase;
            width: 55%;
            margin-bottom: 20px;
          }
          p {
            color: #fff;
            font-size: 2.4rem;
            font-weight: var(--weight500);
            width: 45%;
          }
          a {
            margin-top: 30px;
          }
          @media only screen and (max-width: 1340px) {
            h2 {
              font-size: 4.2rem;
            }
            p {
              font-size: 2rem;
            }
          }
          @media only screen and (max-width: 990px) {
            h2 {
              font-size: 3.6rem;
            }
            p {
              font-size: 1.8rem;
            }
          }
        }
        @media only screen and (max-width: 990px) {
          .attachment-post-thumbnail {
            display: none;
          }
          .bannerMobile {
            display: block;
            width: 100%;
            height: auto;
          }
          .content {
            width: 80%;
            top: 25%;
            left: 45%;
            transform: translate(-50%, -50%);
            text-align: center;
            h2,
            p {
              width: 100%;
            }
            a {
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }
    }
    .swiper-pagination {
      position: relative;
      top: 0;
      margin-top: 20px;
      .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        margin: 0 8px;
      }
      .swiper-pagination-bullet-active {
        background-color: var(--black);
      }
    }
  }
  .about {
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 60px;
    display: flex;
    align-items: flex-start;
    > img {
      max-width: 693px;
      max-height: 400px;
      width: 100%;
      height: auto;
    }
    div h2 {
      margin-bottom: 40px;
    }
    @media only screen and (max-width: 1340px) {
      align-items: center;
      img {
        width: 50%;
      }
    }
  }
  .news {
    h2 {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 50px;
    }
    > div {
      display: flex;
      justify-content: space-between;
      gap: 45px;
      a {
        figure {
          max-width: 480px;
          max-height: 324px;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    > a {
      margin: 80px auto 0;
    }
  }
  .cta {
    position: relative;
    text-align: center;
    margin: 80px 0;
    > img {
      max-width: 1046px;
      max-height: 197px;
      width: 100%;
      height: auto;
    }
    span {
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: absolute;
      right: 25%;
      top: 50%;
      transform: translate(50%, -50%);
      @media only screen and (max-width: 1340px) {
        transform: translate(50%, -50%);
        right: 13%;
      }
    }
  }
  .sponsors {
    background-color: var(--black);
    padding: 80px 0;
    .container {
      h3 {
        text-transform: uppercase;
        margin-bottom: 40px;
        color: #fff;
        text-align: center;
      }
      .first-line {
        padding-bottom: 80px;
        margin-bottom: 80px;
        border-bottom: 1px solid #fff;
      }
      > div {
        .galeria-logos {
          justify-content: center;
          flex-wrap: wrap;
          gap: 80px 100px;
          img {
            max-width: 250px;
            max-height: 85px;
          }
          @media only screen and (max-width: 990px) {
            gap: 40px;
          }
        }
      }
    }
  }
}
