main.transparency {
  .container {
    h1 {
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    section {
      margin-bottom: 80px;
      width: 75%;
      div {
        h2 {
          margin: 80px 0 40px;
          font-size: 4rem;
          font-weight: var(--weight700);
          color: var(--black);
        }
      }
      p {
        font-size: 2rem;
        font-weight: var(--weight400);
        color: var(--black2);
        strong {
          display: block;
          color: var(--black);
          margin-top: 20px;
          a {
            transition: var(--transition);
            color: var(--black);

            &:hover {
              color: var(--black2);
            }
          }
        }
      }
      @media only screen and (max-width: 990px) {
        width: 100%;
        div {
          h2 {
            font-size: 2.8rem;
            margin: 50px 0 20px;
          }
          p {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
