a.card-notice {
  transition: var(--transition);
  max-width: 480px;
  .date {
    margin: 16px 0 10px;
  }
  figure {
    position: relative;
    max-width: 480px;
    max-height: 324px;
    overflow: hidden;
    object-position: center;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(30, 30, 30, 0.8);
      color: #fff;
      font-size: 6.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &:hover {
    p,
    h3 {
      color: var(--black2);
    }
    figure {
      &:after {
        content: "+";
      }
    }
  }
}
