html {
  font-size: 62.5%;
}
main {
  padding-top: 292px;
  @media only screen and (max-width: 1100px) {
    padding-top: 250px;
  }
  @media only screen and (max-width: 990px) {
    padding-top: 125px;
  }
}
body {
  font-family: "Montserrat", sans-serif;
}
.container {
  margin: 0 200px;
  @media only screen and (max-width: 1600px) {
    margin: 0 150px;
  }
  @media only screen and (max-width: 1400px) {
    margin: 0 100px;
  }
  @media only screen and (max-width: 990px) {
    margin: 0 25px;
  }
}
.align {
  display: flex;
  align-items: center;
}
.fixedShadow {
  box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.75);
}
:root {
  --weight800: 800;
  --weight700: 700;
  --weight400: 400;

  --black: #1e1e1e;
  --black2: #5a5a5a;
  --grey: #434343;
  --grey2: #9f9f9f;
  --grey3: #f5f5f5;

  --transition: all 0.2s;
  --border-radius: 20px;
}

.default-card {
  figure {
    max-width: 350px;
    max-height: 337px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      border-radius: 10px 10px 0 0;
    }
  }
  span {
    max-width: 350px;
    padding: 20px;
    text-align: center;
    display: block;
    background-color: var(--black);
    color: #fff;
    border-radius: 0px 0px 10px 10px;
    h2 {
      font-weight: var(--weight700) !important;
      color: #fff !important;
      margin-bottom: 24px;
    }
    p {
      color: #fff !important;
      line-height: 1.6;
      b {
        font-weight: var(--weight500);
      }
    }
  }
  @media only screen and (max-width: 600px) {
    margin: 0 auto;
    span {
      max-width: 310px;
    }
  }
}
