header {
  position: fixed;
  width: 100%;
  z-index: 99;
  .first-line {
    background-color: var(--black);
    padding: 30px 0;
    .container {
      justify-content: space-between;
      .none {
        color: var(--black);
        width: 186px;
      }
      .whatsapp {
        font-size: 2rem;
        color: #fff;
        gap: 5px;
        transition: var(--transition);
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        gap: 20px;
        a {
          svg {
            transition: var(--transition);
            path {
              transition: var(--transition);
            }
            &:hover {
              path {
                fill: var(--black2);
              }
            }
          }
        }
      }
    }
  }
  .second-line {
    background-color: var(--grey3);
    padding: 30px 0;
    .container {
      position: relative;
      justify-content: space-between;
      .none {
        color: var(--grey3);
        width: 186px;
      }
      .logo {
        position: absolute;
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, 17%);
      }
      a {
        text-transform: uppercase;
        transition: var(--transition);
        &:hover {
          color: var(--black2);
        }
      }
      .submenu {
        text-transform: uppercase;
        position: relative;
        cursor: pointer;
        span {
          background-color: var(--grey3);
          display: none;
          position: absolute;
          top: 100%;
          transform: translateY(25%);
          a {
            padding: 10px 20px;
            font-size: 1.6rem;
            font-weight: var(--weight700);
            color: var(--black);
            border-bottom: 1px solid var(--grey2);
            white-space: nowrap;
            transition: var(--transition);
            &:nth-child(1) {
              border-top: 2px solid var(--black);
              &:after {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='12' viewBox='0 0 21 12' fill='none'%3E%3Cpath d='M10.5 0L20.4593 11.25H0.540708L10.5 0Z' fill='%231E1E1E'/%3E%3C/svg%3E");
                position: absolute;
                top: 0;
                left: -1px;
                transform: translateY(-70%);
              }
            }
            &:last-child {
              border-bottom: none;
            }
            &:hover {
              color: var(--black2);
            }
          }
        }
      }
    }
  }
}
