main.director {
  .president {
    background: url("../efc/assets/images/bg-diretoria.png") no-repeat center;
    margin-top: 80px;
    padding: 80px 0;
    .container {
      display: flex;
      gap: 45px;
      figure img {
        border: 10px;
      }
      div {
        width: 60%;
        h3 {
          font-size: 2rem;
          font-weight: var(--weight700);
          margin: 10px 0 40px;
        }

        h2,
        h3 {
          color: #fff;
        }
        p {
          color: var(--grey3);
        }
      }
    }
  }
  .members {
    margin: 80px 0;
    .container {
      display: flex;
      justify-content: center;
      gap: 40px 80px;
      flex-wrap: wrap;
      .cargo-item {
        img {
          border-radius: 10px 10px 0px 0px;
          max-width: 350px;
          max-height: 344px;
          width: 100%;
          height: auto;
        }
        span {
          position: relative;
          top: -3px;
          padding: 20px;
          text-align: center;
          display: block;
          background-color: var(--black);
          color: #fff;
          border-radius: 0px 0px 10px 10px;
          h3 {
            font-weight: var(--weight700);
            color: #fff;
          }
          p {
            margin-top: 24px;
            color: #fff;
          }
        }
      }
    }
  }
}
