main.socialarea {
  margin-bottom: 80px;
  > figure {
    overflow: hidden;
    max-width: 1920px;
    max-height: 600px;
    margin: 80px 0;
    img {
      width: 100%;
      height: auto;
    }
  }
  .container-interno {
    margin-left: 200px;
    width: 60%;
    h1 {
      text-transform: uppercase;
    }
    h2 {
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 15px;
    }

    @media only screen and (max-width: 1400px) {
      margin: 0 100px;
    }
    @media only screen and (max-width: 990px) {
      margin: 0 25px;
      width: 90%;
    }
    @media only screen and (max-width: 400px) {
      width: 88%;
    }
  }
  .swiper-container {
    figure {
      overflow: hidden;
      img {
        height: 335px;
        width: auto;
      }
    }
  }
  @media only screen and (max-width: 1600px) {
    .container-interno {
      margin-left: 150px;
    }
  }
  @media only screen and (max-width: 990px) {
    .container-interno {
      margin: 0 25px;
    }
  }
}
