main.historia {
  margin-bottom: 80px;
  > div.container {
    width: 60%;
    figure {
      margin: 80px 0;
      max-width: 1135px;
      max-height: 669px;
    }
    h1 {
      text-transform: uppercase;
    }
    h2 {
      margin-bottom: 40px;
    }
  }
  .swiper-gallery {
    position: relative;
    margin-top: 80px;
    overflow: hidden;
    figure {
      max-width: 480px;
      max-height: 324px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      color: #fff;
      font-weight: var(--weight700);
    }
  }
}
