main.historia {
  margin-bottom: 80px;
  > div.container {
    width: 60%;
    figure {
      margin: 80px 0;
      max-width: 1135px;
      max-height: 669px;
    }
    h1 {
      text-transform: uppercase;
    }
    h2 {
      margin-bottom: 40px;
    }
  }
}
