main.identity {
  margin-bottom: 80px;
  .container {
    h1 {
      text-transform: uppercase;
    }
    .content {
      width: 70%;
      h2 {
        margin-top: 80px;
        margin-bottom: 80px;
      }
      p {
        margin-bottom: 15px;
      }
      .escudo,
      figure,
      .mascote {
        margin-bottom: 40px;
      }
      figure {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 50%;
        img {
          max-width: 243px;
          max-height: 657px;
        }
      }
      @media only screen and (max-width: 990px) {
        width: 100%;
      }
      @media only screen and (max-width: 450px) {
        figure {
          width: 100%;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
