main.identity {
  margin-bottom: 80px;
  .container {
    h1 {
      text-transform: uppercase;
    }
    .content {
      width: 70%;
      h2 {
        margin-top: 80px;
        margin-bottom: 80px;
      }
      .escudo,
      figure,
      .mascote {
        margin-bottom: 40px;
      }
    }
  }
}
