main.expresident {
  .content {
    margin: 80px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    .card {
      figure {
        max-width: 350px;
        max-height: 337px;
        img {
          width: 100%;
          height: auto;
          border-radius: 10px 10px 0 0;
        }
      }
      span {
        padding: 20px;
        text-align: center;
        display: block;
        background-color: var(--black);
        color: #fff;
        border-radius: 0px 0px 10px 10px;
        h2 {
          font-weight: var(--weight700);
          color: #fff;
        }
        p {
          margin-top: 24px;
          color: #fff;
        }
      }
    }
  }
}
